{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Meetups{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'meetups/styles/base.css' %}">
    <link rel="stylesheet" href="{% static 'meetups/styles/all_meetups.css' %}">
    {% block site_css%}{% endblock %}


</head>

    
   <body>
       <header id="main-header">
        <nav><a href="/meetups" id="main-logo"> Django Meetups</a></li></nav>
        <h1>{%block main_heading%} Meetup Main heading{%endblock%}</h1> 
        <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, mollitia ducimus repellat quas laborum recusandae laudantium magni minima fuga, accusamus dolor.
        </p>
       </header>
       <main>
        {% block body%}content{% endblock %}

       </main>
   </body>
</html>