{% extends 'meetups/base/base.html' %}

{% load static %}
<html lang="en">

    {% block title%}meetups{% endblock %}
    
    {% block site_css%} <link rel="stylesheet" href="{% static 'meetups/styles/all_meetups.css' %}">{% endblock %}
    

    
   <body>
       
        {%block main_heading%} We got great makeups today{%endblock%}
        {%block header_content%} <p>find one of the best suit your need</p> {%endblock%}
        
        {%block body%}<section>
            <h1>Up coming meetups</h1>
            <ol>
                {% for meetup_item in meetups %}
                <li class="meetup-item">
                    <article>
                        <div class="meetup-summary">
                            <div class="meetup-image">
                                <img src="" alt="">
                            </div>
                            <div class="meetup-details">
                                <h3>{{meetup_item.title}}</h3>
                                <address>{{meetup_item.location}}</address>
                                <div class="meetup-actions">
                                    <!--<a href="/meetups/{{meetup_item.slug}}" class="btn">More Details</a>-->
                                    <a href="{% url 'meetup-details' meetup_item.slug%}" class="btn">More Details</a>
                                </div>
                                
                            </div>
                        </div>
                    </article>
                </li>
                {% endfor %}
            </ol>
        </section> {%endblock%} 
      
  