{% load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{meetup_title}}</title>
    <link rel="stylesheet" href="{% static 'meetups/styles/base.css' %}">
    <link rel="stylesheet" href="{% static 'meetups/styles/meetup-details.css' %}">
</head>
<body>
    <main>
        <article>
            <img src="" alt="">
            <section id="location">
                <h1>Make location</h1>
                <address>This meetup takes place in <span>LOCATION</span>(ADDRESS).</address>
            </section>
            <section id="details">
                <h2>What is this meetup about</h2>
                <p>{{meetup_description}}</p>
                <footer>
                    <p>Need more details? then please <a href="">contact the organizer</a>  for more information(but don't spam us ;-))</p>
                </footer>
                <section id="registration">
                        <h2>Join Us!</h2>
                        <FORM></FORM>
                </section>
            </section>
        </article>
        
    </main>
</body>
</html>